html,
body,
#app {
    height: 100%;
    margin: unset;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
.el-message-box{
    width: unset !important;
}
.cleanfloat::after{display: block; clear: both; content:""; visibility: hidden; height: 0;}/*清浮动*/
 ul li{list-style:none; float:left; font-size:30px; margin:5px; color:#ccc; cursor:pointer;}/*五角星样式*/
.hs,.cs{color:#f00;}/*五角星点击后样式*/
.zhezhao{
    position: fixed;
    left: 0px;
    top: 0px;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.tankuang{
    position: relative;
    background: #FFF;
    width: 30%;
    height: 50%;
    border-radius: 5px;
    margin: 5% auto;
}
#header{
    height: 40px;
}
#header-right{
    position: relative;
    width: 60px;
    height: 25px;
    border-radius: 5px;
    background: red;
    color: #fff;
    left: 60px;
    top: 0px;
    text-align: center;
}

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin fayi {
    .fanyi {
        width: 100%;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        > div {
            background-color: white;
            border-radius: 10px;
            left: 0;
            bottom: -3.5rem;
            max-width: calc(100% - 5.5rem);
            @include flex();
            text-align: left;
            min-width: 80px;
            color: #000;
            min-height: 30px;
            margin: 0.5rem;
            padding: 0.3rem;
            margin-right: 3rem;
        }
    }
}
.home-layout {
    height: 100%;
    width: 100%;
    position: relative;
    //.h-head {
    //    height: 3rem;
    //    background: white;
    //    text-align: center;
    //    line-height: 3rem;
    //    position: relative;
    //    > img {
    //        position: absolute;
    //        width: 24px;
    //        height: 24px;
    //        left: 10px;
    //        top: 10px;
    //    }
    //    .menu-right{
    //        position: absolute;
    //        width: 24px;
    //        right: 10px;
    //        top: 3px;
    //        .el-dropdown{
    //            font-size: 22px;
    //        }
    //    }
    //    > span {
    //        font-size: 18px;
    //        font-weight: 600;
    //        color: #323233;
    //    }
    //}
    .h-body {
        height: calc(100% - 4rem);
        padding-top: 16px;
        box-sizing: border-box;
        background: #f2f4f6;
        overflow-y: auto;
        width: 100%;
        > div {
            display: flex;
            padding: 10px;
            box-sizing: border-box;
            width: 100%;
            flex-wrap: wrap;
            .qus-one {
                margin-top: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 15px;
                > div:first-child {
                    color: #f78d32;
                    font-weight: 600;
                }
                > div:nth-child(2) {
                    @include flex();
                    color: #54a2ff;
                    > img {
                        width: 16px;
                        height: 16px;
                        margin-right: 5px;
                    }
                }
            }
            .qus-two {
                margin-top: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: rgba(50, 50, 51, 0.8);
                font-size: 15px;
                > img {
                    width: 16px;
                    height: 16px;
                }
            }
            .qus-there {
                display: flex;
                justify-content: flex-end;
                margin-top: 15px;
                padding-right: 10px;
                box-sizing: border-box;
                > div {
                    width: 70px;
                    font-size: 15px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    color: rgba(50, 50, 51, 0.8);
                    > img {
                        width: 17px;
                        height: 17px;
                        margin-right: 5px;
                    }
                }
            }
            .block-qus {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                flex-direction:column ;
                margin-top: 10px;
                > div {
                    //width: wr;
                    height: 30px;
                    @include flex;
                    margin: 5px 5px;
                    padding: 5px 10px;
                    background: rgba(176, 187, 197, 0.12);
                    border-radius: 4px;
                    > div {
                        text-align: center;
                        font-size: 12px;
                    }
                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
            .userImg {
                height: 2.5rem;
                width: 2.5rem;
            }
            .txt {
                max-width: calc(100% - 5.5rem);
                min-width: 80px;
                min-height: 50px;
                margin: 0 0.5rem;
                color: white;
                padding: 15px;
                box-sizing: border-box;
                background: linear-gradient(180deg, #8fc5f8 0%, #81acf8 100%);
                border-radius: 25px 0px 25px 25px;
            }
            .txt1 {
                width: calc(100% - 5.5rem);
                min-height: 50px;
                min-width: 80px;
                margin: 0 0.5rem;
                padding: 15px;
                box-sizing: border-box;
                background: #ffffff;
                box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.08);
                border-radius: 0px 25px 25px 25px;
            }
            .emoji {
                width: 10rem;
                min-height: 50px;
                min-width: 80px;
                margin: 0 0.5rem;
                padding: 15px;
                box-sizing: border-box;
                background: #ffffff;
                box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.08);
                border-radius: 0px 25px 25px 25px;
            }
            .report{
                width: 25rem;
                min-height: 50px;
                min-width: 80px;
                margin: 0 0.5rem;
                padding: 20px;
                box-sizing: border-box;
                background: #ffffff;
                box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.08);
                border-radius: 25px 25px 25px 25px;
                display: flex ;
                align-items: center;
                //background: #c0d6fc;
                flex-direction: column;
                justify-content: center;
            }
            @include fayi();
            .time{
                width: 100%;
                @include flex;
                padding: 0.4rem;
                margin: 0.4rem 0;
                box-sizing: border-box;
                font-size: 14px;
                color: #b2b5ba;
            }
        }
        .otherSpan{
            display: inline-block;
            padding: 5px 10px;
            border-radius: 5px;
            margin-top: 4px;
            background: white;
            border: 1px solid #eeeeee;
        }
        .right-msg {
            justify-content: flex-end;
        }
        .delete-talk{
            position: fixed;
            top: 45px;
            right: 10px;
            height: 30px;
            width: 30px;
            //border: 1px solid gainsboro;
            background: gainsboro;
            border-radius: 50%;
            display: flex;
            //align-items: center;
            justify-content: center;
            i{
                line-height: 8px;
                color: white;
            }
        }
        .delete-talk2{
            position: fixed;
            top: 10px;
            right: 10px;
            height: 30px;
            width: 30px;
            //border: 1px solid gainsboro;
            background: #9abdf9;
            border-radius: 50%;
            display: flex;
            //align-items: center;
            justify-content: center;
            i{
                line-height: 8px;
                color: white;
            }
        }
        .delete-talk3{
            position: fixed;
            top: 80px;
            right: 10px;
            height: 30px;
            width: 30px;
            //border: 1px solid gainsboro;
            background: #23c739;
            border-radius: 50%;
            display: flex;
            //align-items: center;
            justify-content: center;
            i{
                line-height: 8px;
                color: white;
            }
        }
        .play-icon1{
            width: 18px;
            height: 18px;
            margin-left: 2px;
            vertical-align: middle;
            //position: absolute;
            //margin-top: 2px;
        }
        .play-icon{
            width: 18px;
            height: 18px;
            vertical-align: middle;
            //margin-top: 2px;
            margin-left: 3px;
            //position: absolute;
        }
        .playImg{
            width: 20px;
            height: 20px;
            margin-top: 2px;
            margin-left: 3px;
            transform:rotate(180deg);
        }
    }
    .h-foot {
        //height: 4rem;
        background: white;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        padding: 0.6rem 0.5rem;
        > img {
            width: 2rem;
            height: 2rem;
        }
        .btn-parent {
            width: calc(100% - 65px);
            margin: 0 10px;
            .el-button {
                border-radius: 20px;
                width: 100%;
                height: 2.5rem;
            }
        }
        .el-input {
            margin: 0 10px;
            width: calc(100% - 65px);
        }
        .el-input__inner {
            height: 2.5rem;
            border-radius: 25px;
        }
    }
    .vioce-model {
        position: absolute;
        background: white;
        width: 100%;
        height: 5rem;
        padding-top: 1.5rem;
        box-sizing: border-box;
        bottom: 4rem;
        text-align: center;
        font-size: 15px;
        color: #9c9b9bf5;
        > div {
            margin-top: 5px;
        }
    }
    .mind-model {
        position: absolute;
        background: white;
        width: 100%;
        min-height: 50px;
        max-height: 150px;
        box-sizing: border-box;
        bottom: 4rem;
        text-align: center;
        font-size: 15px;
        color: #9c9b9bf5;
        > div {
            width: 100%;
            border-bottom: 1px solid #e9e9e9;
            font-size: 14px;
            color: #6c6c6c;
            line-height: 50px;
            text-align: left;
            padding: 0 15px;
            box-sizing: border-box;
            min-height: 50px;
            .color2{
               color: #F78C30;
            }
        }
    }
    .highFont {
        color: #f78c30;
        font-weight: 600;
    }
}
.el-scrollbar {
    > .el-scrollbar__bar {
        opacity: 1 !important;
    }
}
.content{
    display: flex;
    flex-direction: row;
    height: 100%;

}
.h-ios{
    .h-body{
        height: calc(100% - 8rem) !important;
        .h-foot {
            height: 4rem !important;
            text-align: unset !important;
            padding: 0.5rem 0.5rem 0 0.5rem !important;
        }
    }
    .mind-model{
        bottom: 8rem !important;
    }
    .vioce-model{
        bottom: 8rem !important;
    }
}
//允许所有的英文换行
span {
    word-break: break-word;
}
